.cardContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;

  .card {
    display: flex;
    flex-direction: "";
    position: relative;
    top: "";
    height: 90vh;
    width: 100%;
    border-radius: 25px;
    padding: 50px;
    transform-origin: top;
    box-shadow: 0 5px 12px 0px rgb(204, 202, 202);

    h2 {
      /* Style for h2 if needed */
    }

    .body {
      display: flex;
      height: 100%;
      margin-top: 0px;
      gap: 50px;

      .description {
        p {
          &::first-letter {
            /* Style for the first letter if needed */
          }
        }
        span {
          display: flex;
          align-items: center;
          gap: 5px;
          a {
            font-size: 12px;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }

      .imageContainer {
        position: relative;
        width: 60%;
        height: 100%;
        border-radius: 25px;
        overflow: hidden;

        .inner {
          width: 100%;
          height: 100%;
        }
        img {
          object-fit: cover;
        }
      }
    }
  }

  /* Responsive breakpoints */
  @media (max-width: 1024px) {
    /* lg breakpoint */
    .card {
      height: 85vh;
      width: 95%;
      padding: 40px;

      .body {
        flex-direction: column;
        gap: 30px;

        .imageContainer {
          width: 100%;
          height: 50%;
        }
      }
    }
  }

  @media (max-width: 768px) {
    /* md breakpoint */
    .card {
      height: 80vh;
      width: 98%;
      padding: 30px;

      .body {
        gap: 20px;

        .imageContainer {
          height: 40%;
        }
      }
    }
  }

  @media (max-width: 640px) {
    /* sm breakpoint */
    .card {
      height: 90vh;
      padding: 20px;

      .body {
        gap: 10px;

        .imageContainer {
          height: 35%;
        }
      }
    }
  }

  @media (max-width: 480px) {
    /* Custom smaller breakpoint */

    .card {
      height: 90vh;
      width: 100%;
      padding: 20px;

      .body {
        flex-direction: column;
        gap: 5px;

        .imageContainer {
          height: 30%;
        }
      }
    }
  }
}
