.header {
  position: fixed;
  right: 16px;
  top: 40px;
  z-index: 1000;
  .menu {
    // width: 480px;
    // height: 1vh;
    background-color: #ffff;
    border-radius: 30px;
    position: relative;
  }
}

@media (min-width: 768px) {
  .header {
    right: 40px;
    top: 40px;
  }
}
